@{
    ViewData["Title"] = "About";
}
<br />
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        h4 {
            color: #333333;
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            color: #666666;
            font-size: 16px;
            margin-bottom: 10px;
        }

        table {
            border-collapse: collapse;
            width: 90%;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #333333;
            padding: 8px;
            text-align: left;
        }

        .container {
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <br /> <br />
        <p><strong>Добро пожаловать в интернет-магазин экспресс доставки "Чайная полка"!</strong></p>
        <h4>Доставка чая от 30 минут.</h4>
        <p>Работаем для Вас с 10 до 21 часа.</p>
        <h4>Условия доставки</h4>
        <p>Доставка осуществляется по городу Ярославль:</p>
        <table>
            <tr>
                <th>Район</th>
                <th>Время доставки, от</th>
                <th>Минимальная сумма заказа</th>
            </tr>
            <tr>
                <td>Ленинский, Кировский</td>
                <td>30</td>
                <td>500</td>
            </tr>
            <tr>
                <td>Красноперекопский</td>
                <td>45</td>
                <td>600</td>
            </tr>
            <tr>
                <td>Заволжский</td>
                <td>50</td>
                <td>700</td>
            </tr>
            <tr>
                <td>Фрунзенский</td>
                <td>50</td>
                <td>700</td>
            </tr>
            <tr>
                <td>Дзержинский</td>
                <td>60</td>
                <td>800</td>
            </tr>
            <tr>
                <td>Пригород (до 15 км)</td>
                <td>75</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>Пригород (более 15 км)</td>
                <td>120</td>
                <td>По согласованию</td>
            </tr>
        </table>
        <h4>Программа лояльности</h4>
        <p>При авторизации вы:</p>
        <p>Участвуете в программе лояльности, скидки с первого заказа.</p>
        <p>Для каждого заказа получите два пробника любого вида чая. Назовите виды, которые хотите продегустировать, менеджеру: он свяжется с Вами после оформления заказа.</p>
    </div>
</body>
</html>
