
@{
    ViewData["Title"] = "AddRole";
}

<h2>Создание новой роли</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AddRole" method="post">
    <div class=" form-group">
        <label for="name">Новая роль:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-info">Ок</button>
</form>

