@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "GetRoles";
}

<h2>Роли, существующие на сайте</h2>
<table>
    @{
        <tr>
            <th>Имя роли</th>
            <th>Действие</th>
        </tr>
        foreach (var role in Model)
        {
            <tr>
                <td style="font-size: 2rem;">@role.Name</td>
                <td>
                    <a asp-action="DeleteRole" asp-route-id="@role.Id">
                        <i class="bi bi-trash-fill" style="font-size: 2rem;"></i>

                    </a>
                    <a asp-action="RenameRole" asp-route-id="@role.Id">
                        <i class="bi bi-pencil-fill" style="font-size: 2rem;"></i>

                    </a>
                </td>
            </tr>

        }
    }
</table>
<a class="btn btn-info" asp-action="AddRole">Добавить новую роль</a>

